@model List<CodeTheWay.Web.Ui.Models.ViewModels.ShippingContainerRegistrationViewModel>
@*
    ViewData["Title"] = "Index";
*@
<h1>Index</h1>
<div>
    <table>
        <tr>
            <th>
                Weight
            </th>
            <th>
                Destination
            </th>
        </tr>
    </table>
</div>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                <div>
                    <div class="navText:link">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                </div>
                <div class="buttonFormattingGrey">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </div>
                <div class="buttonFormattingRed">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Create">Create a shipping container.</a>
</div>
